@charset:"utf-8";

@font-face {
  font-family: 'Lily Script One';
  font-style: normal;
  font-weight: 400;
  src: local('Lily Script One'), local('../fonts/LilyScriptOne-Regular'),
  url(http://themes.googleusercontent.com/static/fonts/lilyscriptone/v2/uPWsLVW8uiXqIBnE8ZwGPK3fkYX5z1QtDUdIWoaaD_k.woff) format('woff');
}

button{outline:none;}
img{vertical-align: middle;}

body{
  background-color: #333;
  font-family: 'Source Sans Pro';
}

#inner-wrap{
  padding-top:50px;
  /*box-shadow: 0 0 50px #000;*/
  width: 100%;
  overflow-x:hidden;
  -webkit-transform: translate3d(0, 0, 0);
  transition: .50s ease;
}

#inner-wrap.displaymenu{
  -webkit-transform: translate3d(80%, 0, 0) scale3d(1, 1, 1);
}

.topnavbar{
  background-color:#0099CB;
  position:fixed;
  top:0;
  left: 0;
  width: 100%;
  z-index: 1000;
  transition:.50s ease;
}

.topnavbar.displaymenu{
  left:-50px;
  -webkit-transform: translate3d(80%, 0, 0) scale3d(1, 1, 1);
}

.show-menu{
  position: absolute;
  z-index: 2000;
  font-size:21px;
  border:0;
  height:50px;
  padding:0;
  width: 50px;
  background-color:#3FAFD4;
}

.show-menu img{
height: 17px;
position:absolute;
margin:auto;
top:0;
left:0;
right:0;
bottom: 0;
vertical-align: middle;
opacity: 1;
transition:.25s ease;
}

.hidden{
  opacity: 0!important;
}
.topnavbar-text{
  color:white;
  font-family: 'Lily Script One', cursive;
  width: 100%;
  text-align: center;
  font-size: 30px;
  line-height: 50px;
  background-color:#0099CB;
  top:0;
  left:0px;
  position:absolute;
}

.menu-wrap.displaymenu{

  transition:.5s ease;
  -webkit-transform: translate3d(0, 0, 0);
}
.menu-wrap{
  position:fixed;
  transition:.5s ease;
  background-color: #333;
  overflow-y:auto; 
  left: 0;
  top:0;
  bottom:0;
  right:0;
  -webkit-transform: translate3d(-20%,0,0);
}


.menu-wrap ul, .menu-wrap li{
  padding:0;
  margin:0;
}

.menu-wrap li{
display: block;
color: white;
text-transform: uppercase;
font-size: 19px;
padding: 20px;
letter-spacing: 3px;
font-weight: initial;
}

#tracks{
  perspective : 0px;
}

.track{
  display: flex;
  background-color:#FFF; 
  border-bottom: 1px solid #CCC;
  -webkit-transform: translate3d(0,0,0) translateY(0) ;
  transition:.25s ease;
  justify-content: flex-start;
}
.track.display{
  -webkit-transform:  translate3d(0,0,0);
}
.artwork{
  display: flex;  height:70px;width: 70px;
}
.track-wrapper{
  overflow: hidden;
}
.track-details{
  display: flex;
  flex-direction: column;
}
.track-controls{
  background-color:#FF0000; 
  border-bottom: 1px solid #CCC;
  position: absolute;
  transition:.25s ease;
  height: 70px;
  width: 100%;
  justify-content: flex-start;
  -webkit-backface-visibility: visible;
-webkit-transform-origin: 50% 100%;
-webkit-transform: perspective(500px) rotateX(-90deg) translateY(0) ;
}
.track-controls.show-track-menu{
  -webkit-transform: perspective(500px) rotateX(0deg) translateY(-100%) ;
}
.title{}
.test-button{
  position: absolute;
  top:0;
  border:0;
  color:white;
  right: 0;
  bottom: 0;
  width: 100px;
  margin-left: auto;
}

.track.show-track-menu{

-webkit-backface-visibility: visible;
-webkit-transform-origin: 50% 0%;
-webkit-transform: rotateX(90deg) translateY(-100%) ;

}
